.skillsContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color:#efa8a8;
}

.skill {
  margin-bottom: 1.5rem;
  z-index: 3;
}

.skillInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.progressBar {
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 20px;
}

.progress {
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  height: 100%;
  border-radius: 25px;
  transition: width 1.2s ease-in-out;
}

/* Responsive */
@media (max-width: 500px) {
  .skillsContainer {
    padding: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .progressBar {
    height: 15px;
  }
  .icon {
    font-size: 1.2rem;
  }
}
